name: Final Success Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 1. تأمين الرامات عشان مفيش حاجة تقطع (Broken Pipe)
      - name: Expand Memory
        run: |
          sudo fallocate -l 16G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 2. تسطيب كل الأدوات اللازمة
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git ffmpeg libgstreamer1.0-dev qmlscene qt5-qmake python3-setuptools libffi-dev libssl-dev openjdk-17-jdk unzip autoconf libtool pkg-config zlib1g-dev libncursesw5-dev cmake
          pip3 install --user --upgrade buildozer Cython==0.29.33 virtualenv

      # 3. أمر البناء
      - name: Build with Buildozer
        run: |
          yes | buildozer -v android debug

      # 4. خطوة "القناص": البحث عن الملف ورفعه مهما كان مكانه
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WhatsApp-Bot-Final-APK
          # السطر ده بيدور في كل المجلدات (Recursive search)
          path: "**/*.apk"
          # لو ملقاش ملف هيوقف العملية ويقولنا ليه
          if-no-files-found: error
