name: Build APK with Docker
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. تحميل ملفاتك من المستودع
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. بناء التطبيق باستخدام "حاوية" جاهزة فيها كل الأدوات
      # الحل ده بيوفر وقت التحميل وبيمنع انقطاع الاتصال
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable
          version: 3.3.9

      # 3. رفع ملف الـ APK الناتج عشان تحمله
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: WhatsApp-Bot-Final
          path: bin/*.apk
