name: Stable Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Expand Memory
        run: |
          sudo fallocate -l 16G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git ffmpeg libgstreamer1.0-dev qmlscene qt5-qmake python3-setuptools libffi-dev libssl-dev openjdk-17-jdk unzip autoconf libtool pkg-config zlib1g-dev libncursesw5-dev cmake
          pip3 install --user --upgrade buildozer Cython==0.29.33 virtualenv

      - name: Build with Buildozer
        run: |
          # أمر البناء المباشر
          yes | buildozer -v android debug
        
      # الخطوة دي هتطبع لنا مكان الملف بالظبط لو تاه مننا
      - name: Locate APK File
        run: |
          echo "Searching for APK files..."
          find . -name "*.apk"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: WhatsApp-Bot-Final
          # هنا بنخلي البحث أشمل عشان يلاقيه في أي مجلد bin
          path: "**/*.apk" 
