from kivymd.app import MDApp
from kivymd.uix.button import MDRaisedButton
from kivy.uix.boxlayout import BoxLayout
from kivy.uix.image import Image

class BotApp(MDApp):
    def build(self):
        self.theme_cls.primary_palette = "Green"
        layout = BoxLayout(orientation='vertical', padding=20, spacing=10)
        
        # مكان صورة الـ QR
        self.qr_img = Image(source='qr.png') 
        layout.add_widget(self.qr_img)

        # زر التشغيل
        layout.add_widget(MDRaisedButton(
            text="تشغيل البوت", pos_hint={'center_x': .5},
            on_release=lambda x: print("Starting Bot...")
        ))

        # زر مسح البيانات
        layout.add_widget(MDRaisedButton(
            text="مسح بيانات الحفظ", md_bg_color=(1, 0, 0, 1),
            pos_hint={'center_x': .5},
            on_release=lambda x: print("Clearing Session...")
        ))

        return layout

BotApp().run()
