name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      # استخدام الكاش المتقدم
      - name: Cache Buildozer data
        uses: actions/cache@v4
        with:
          path: .buildozer
          key: ${{ runner.os }}-buildozer-${{ hashFiles('buildozer.spec') }}

      - name: Install Buildozer dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git ffmpeg libgstreamer1.0-dev qmlscene qt5-qmake python3-setuptools libffi-dev libssl-dev
          pip3 install --user --upgrade buildozer Cython==0.29.33

      - name: Build with Buildozer
        run: |
          # تحديد مسارات الأندرويد الجاهزة على السيرفر لتجنب التحميل الخارجي
          export ANDROID_SDK_HOME=$ANDROID_HOME
          export ANDROID_NDK_HOME=$ANDROID_HOME/ndk-bundle
          
          # رفع مستوى التفاصيل عشان نعرف العطل فين بالظبت لو حصل
          export BUILDOZER_LOG_LEVEL=2
          export BUILDOZER_TIMEOUT=1800
          
          # تنظيف وبناء
          rm -rf .buildozer/android/platform/build-arm64-v8a/dists
          yes | buildozer android debug || (sleep 60 && yes | buildozer android debug)

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WhatsApp-Bot-Success
          path: bin/*.apk
