name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Buildozer dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git ffmpeg libgstreamer1.0-dev qmlscene qt5-qmake python3-setuptools libffi-dev libssl-dev
          pip3 install --user --upgrade buildozer Cython==0.29.33

      - name: Build with Buildozer
        run: |
          # 1. تنظيف عميق للملفات المؤقتة عشان الـ Broken Pipe
          rm -rf .buildozer/android/platform/build-arm64-v8a/dists
          rm -rf .buildozer/android/platform/build
          
          # 2. أمر البناء مع "نظام الأمان" (إعادة محاولة بعد 20 ثانية لو السيرفر هنج)
          # الـ yes بتوافق على الرخص أوتوماتيك
          yes | buildozer android debug || (sleep 20 && yes | buildozer android debug)

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WhatsApp-Bot-A7md
          path: bin/*.apk
