name: Ultimate Success Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 1. تزويد الرامات لأقصى قدر ممكن لمنع الـ Broken Pipe
      - name: Maximize Memory
        run: |
          sudo fallocate -l 16G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 2. تسطيب كل المكتبات اللي الأندرويد بيحلم بيها
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git ffmpeg libgstreamer1.0-dev qmlscene qt5-qmake python3-setuptools libffi-dev libssl-dev openjdk-17-jdk unzip autoconf libtool pkg-config zlib1g-dev libncursesw5-dev cmake
          pip3 install --user --upgrade buildozer Cython==0.29.33 virtualenv

      # 3. بناء الـ APK مع إظهار كل التفاصيل (Log Level 2)
      - name: Build with Buildozer
        run: |
          export BUILDOZER_LOG_LEVEL=2
          yes | buildozer -v android debug
        
      # 4. رفع أي ملف ينتهي بـ .apk مهما كان مكانه في السيرفر
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Final-Game-Result
          path: "**/*.apk"
          if-no-files-found: error
